body {
    background: #bababa;
}

.container {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}

.container div {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
    background: white;
    padding: 15px;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
}

.container .counter {
}
