body {
    background: #bababa;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container div {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
    background: white;
    padding: 15px;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    flex-wrap: wrap;
}

.container h1 {
    width: 100%;
    text-align: center;    
}
